<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd"> 
    
    
    <context:component-scan base-package="com.spring.mvc.controller" />
    
    
    <!-- ===========利用SimpleControllerHandlerAdapter类型来调用处理器方法=========== -->
    <bean id="/homePage.htm"  class="com.spring.mvc.controller.HomePageController">
    		<property name="methodNameResolver">
    				<ref local="methodNameResolver"/>
    		</property>
    </bean>
    
    <bean id="methodNameResolver" class="org.springframework.web.servlet.mvc.multiaction.ParameterMethodNameResolver">
    		<property name="paramName" value="m"/>
    		<property name="defaultMethodName" value="handleRequest"/>
    </bean>
    
</beans>
